In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data/busan/지역별_관광지_검색순위.csv')
df2 = pd.read_csv('/content/drive/MyDrive/data/busan/지역별_관광지_검색순위_식음료.csv')
df3 = pd.read_csv('/content/drive/MyDrive/data/busan/지역별_관광지_검색순위_숙박.csv')
df4 = pd.read_csv('/content/drive/MyDrive/data/busan/부산광역시_지역화폐(동백전) 가맹점 현황_20221222.csv', encoding = 'cp949')

In [4]:
df['중분류 카테고리'].value_counts()

문화관광     183
쇼핑       146
자연관광      62
기타관광      40
레저스포츠     31
역사관광      29
체험관광       9
Name: 중분류 카테고리, dtype: int64

# 중분류 카테고리 별 데이터 분류

In [10]:
df_ct = df[df['중분류 카테고리'] == '문화관광']
df_ct

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
13,14,롯데월드어드벤처부산,부산광역시,기장군,부산 기장군 동부산관광로 42-0,문화관광,테마공원,"134,067"
27,28,BEXCO,부산광역시,해운대구,부산 해운대구 APEC로 55-0,문화관광,전시시설,"89,716"
30,31,벡스코제1전시장,부산광역시,해운대구,부산 해운대구 APEC로 55-0,문화관광,전시시설,"87,725"
35,36,부산시민공원,부산광역시,부산진구,부산 부산진구 시민공원로 73-0,문화관광,도시공원,"78,895"
46,47,사직야구장,부산광역시,동래구,부산 동래구 사직로 45-0,문화관광,레저스포츠시설,"70,133"
...,...,...,...,...,...,...,...,...
491,492,75광장,부산광역시,영도구,부산 영도구,문화관광,도시공원,"2,060"
494,495,조은극장1관,부산광역시,중구,부산 중구 구덕로34번길 4-0,문화관광,공연시설,"2,040"
495,496,메가박스해운대,부산광역시,해운대구,부산 해운대구 해운대로 813-0,문화관광,공연시설,"2,033"
497,498,메가박스부산대,부산광역시,금정구,부산 금정구 장전로12번길 55-0,문화관광,공연시설,"2,029"
499,500,비콘그라운드,부산광역시,수영구,부산 수영구 망미번영로 0-0,문화관광,기타문화관광지,"2,015"

In [11]:
df_shop = df[df['중분류 카테고리'] == '쇼핑']
df_shop

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,신세계백화점센텀시티점,부산광역시,해운대구,부산 해운대구 센텀남대로 35-0,쇼핑,백화점,"559,499"
2,3,롯데백화점부산본점,부산광역시,부산진구,부산 부산진구 가야대로 772-0,쇼핑,백화점,"381,864"
6,7,코스트코홀세일부산점,부산광역시,수영구,부산 수영구 구락로 137-0,쇼핑,대형마트,"260,036"
9,10,롯데백화점광복점,부산광역시,중구,부산 중구 중앙대로 2-0,쇼핑,백화점,"172,097"
10,11,롯데프리미엄아울렛동부산점,부산광역시,기장군,부산 기장군 기장해안로 147-0,쇼핑,쇼핑몰,"152,655"
...,...,...,...,...,...,...,...,...
470,471,다이소부산화명2호점,부산광역시,북구,부산 북구 금곡대로 208-0,쇼핑,대형마트,"2,240"
475,476,반여3동 골목시장,부산광역시,해운대구,부산 해운대구 재반로270번길 43-53,쇼핑,시장,"2,179"
492,493,광장아울렛,부산광역시,기장군,부산 기장군 정관7로 3-0,쇼핑,대형마트,"2,059"
493,494,보수동책방골목,부산광역시,중구,부산 중구,쇼핑,기타쇼핑시설,"2,041"
496,496,광안종합시장,부산광역시,수영구,부산 수영구 무학로49번길 71-0,쇼핑,시장,"2,033"

In [12]:
df_nt = df[df['중분류 카테고리'] == '자연관광']
df_nt

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
4,5,광안리해수욕장,부산광역시,수영구,부산 수영구 광안해변로 219-0,자연관광,자연경관(하천/해양),"261,818"
5,6,해운대해수욕장,부산광역시,해운대구,부산 해운대구 해운대해변로 264-0,자연관광,자연경관(하천/해양),"261,722"
7,8,송정해수욕장,부산광역시,해운대구,부산 해운대구 송정해변로 62-0,자연관광,자연경관(하천/해양),"244,851"
12,13,다대포해수욕장,부산광역시,사하구,부산 사하구 몰운대1길 14-0,자연관광,자연경관(하천/해양),"144,834"
17,18,송도해수욕장,부산광역시,서구,부산 서구,자연관광,자연경관(하천/해양),"119,540"
...,...,...,...,...,...,...,...,...
457,458,동명부두,부산광역시,남구,부산 남구 북항로 17-0,자연관광,자연경관(하천/해양),"2,355"
467,468,다대포항,부산광역시,사하구,부산 사하구,자연관광,자연경관(하천/해양),"2,257"
471,472,신감만부두,부산광역시,남구,부산 남구,자연관광,자연경관(하천/해양),"2,232"
474,475,대항선착장,부산광역시,강서구,부산 강서구 가덕해안로 0-0,자연관광,자연경관(하천/해양),"2,216"
480,481,대티고개,부산광역시,사하구,부산 사하구,자연관광,자연경관(산),"2,158"

In [13]:
df_etc = df[df['중분류 카테고리'] == '기타관광']
df_etc

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
1,2,김해공항국내선청사,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,"446,879"
3,4,김해국제공항,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,"321,903"
36,37,해운대블루라인파크미포정거장,부산광역시,해운대구,부산 해운대구 달맞이길62번길 13-0,기타관광,기타관광,"78,421"
47,48,기장해녀촌,부산광역시,기장군,부산 기장군 연화1길 184-0,기타관광,기타관광,"64,940"
52,53,송도해상케이블카,부산광역시,서구,부산 서구 송도해변로 171-0,기타관광,기타관광,"58,215"
57,58,흰여울문화마을,부산광역시,영도구,부산 영도구,기타관광,기타관광,"55,152"
58,59,부산서부버스터미널,부산광역시,사상구,부산 사상구 사상로 201-0,기타관광,교통시설,"54,181"
64,65,해운대달맞이길,부산광역시,해운대구,부산 해운대구 달맞이길 0-0,기타관광,데이트코스,"50,855"
71,72,부산종합버스터미널,부산광역시,금정구,부산 금정구 중앙대로 2238-0,기타관광,교통시설,"47,462"
74,75,부산역,부산광역시,동구,부산 동구 중앙대로 206-0,기타관광,교통시설,"45,138"
81,82,부산신항국제터미널,부산광역시,강서구,부산 강서구 신항남로 330-0,기타관광,교통시설,"42,255"
83,84,부산항국제여객터미널,부산광역시,동구,부산 동구 충장대로 206-0,기타관광,교통시설,"40,396"
95,96,감천문화마을,부산광역시,사하구,부산 사하구 감내2로 203-0,기타관광,기타관광,"36,322"
110,111,구포역,부산광역시,북구,부산 북구 구포만세길 82-0,기타관광,교통시설,"28,158"
118,119,황령산봉수대,부산광역시,부산진구,부산 부산진구,기타관광,기타관광,"25,846"
132,133,해운대블루라인파크송정정거장,부산광역시,해운대구,부산 해운대구 송정중앙로8번길 60-0,기타관광,기타관광,"20,883"
156,157,해운대블루라인파크청사포정거장,부산광역시,해운대구,부산 해운대구 청사포로 116-0,기타관광,기타관광,"17,231"
220,221,태종대자갈마당,부산광역시,영도구,부산 영도구,기타관광,기타관광,"10,384"
249,250,부산항연안여객터미널,부산광역시,중구,부산 중구 충장대로 24-0,기타관광,교통시설,"7,726"
257,258,송도용궁구름다리,부산광역시,서구,부산 서구,기타관광,기타관광,"7,462"
268,269,낙동강하구에코센터,부산광역시,사하구,부산 사하구 낙동남로 1240-0,기타관광,기타관광,"6,524"
272,273,해운대유람선터미널,부산광역시,해운대구,부산 해운대구 달맞이길62번길 33-1,기타관광,교통시설,"6,286"
276,277,부전역,부산광역시,부산진구,부산 부산진구 부전로 181-0,기타관광,교통시설,"6,272"
289,290,다대포꿈의낙조분수,부산광역시,사하구,부산 사하구 몰운대1길 14-0,기타관광,기타관광,"5,916"
307,308,낙동강1경(을숙도생태공원)을숙도문화관,부산광역시,사하구,부산 사하구 낙동남로1233번길 25-0,기타관광,기타관광,"5,215"
327,328,이기대섭자리,부산광역시,남구,부산 남구,기타관광,기타관광,"4,546"
331,332,감지해변,부산광역시,영도구,부산 영도구,기타관광,기타관광,"4,502"
339,340,가덕도선착장,부산광역시,강서구,부산 강서구,기타관광,교통시설,"4,389"
340,341,부산진역,부산광역시,동구,부산 동구 충장대로 255-0,기타관광,교통시설,"4,375"
350,351,해운대시외버스터미널,부산광역시,해운대구,부산 해운대구 해운대로 641-0,기타관광,교통시설,"4,192"
362,363,부산항감만터미널,부산광역시,남구,부산 남구 북항로 105-0,기타관광,교통시설,"3,917"
364,365,하리선착장,부산광역시,영도구,부산 영도구,기타관광,교통시설,"3,873"
382,383,부산항신선대터미널,부산광역시,남구,부산 남구 신선로 294-0,기타관광,교통시설,"3,408"
404,405,송도스카이워크,부산광역시,서구,부산 서구 송도해변로 0-0,기타관광,기타관광,"3,004"
412,413,사상역,부산광역시,사상구,부산 사상구 광장로 108-0,기타관광,교통시설,"2,880"
417,418,흰여울해안터널,부산광역시,영도구,부산 영도구,기타관광,기타관광,"2,835"
447,448,동래시외버스정류소,부산광역시,동래구,부산 동래구 중앙대로1325번길 20-0,기타관광,교통시설,"2,423"
455,456,좌천역,부산광역시,기장군,부산 기장군,기타관광,교통시설,"2,386"
466,467,대저수문,부산광역시,강서구,부산 강서구 공항로 1516-0,기타관광,기타관광,"2,269"
490,491,해운대시외버스정류소,부산광역시,해운대구,부산 해운대구 해운대로 641-0,기타관광,교통시설,"2,069"

In [15]:
df_sport = df[df['중분류 카테고리'] == '레저스포츠']
df_sport

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
55,56,부산요트경기장,부산광역시,해운대구,부산 해운대구 해운대해변로 84-0,레저스포츠,수상레저스포츠,"56,185"
56,57,렛츠런파크부산경남,부산광역시,강서구,부산 강서구 가락대로 929-0,레저스포츠,육상레저스포츠,"55,969"
66,67,해운대CC,부산광역시,기장군,부산 기장군 병산2로 265-0,레저스포츠,육상레저스포츠,"50,246"
84,85,해운대비치골프앤리조트,부산광역시,기장군,부산 기장군 대변로 74-0,레저스포츠,육상레저스포츠,"40,325"
91,92,베이사이드GC,부산광역시,기장군,부산 기장군 이천8길 100-0,레저스포츠,육상레저스포츠,"37,081"
94,95,스톤게이트CC,부산광역시,기장군,부산 기장군 곡천길 317-0,레저스포츠,육상레저스포츠,"36,612"
96,97,아시아드컨트리클럽,부산광역시,기장군,부산 기장군 차양길 26-0,레저스포츠,육상레저스포츠,"35,804"
116,117,부산CC,부산광역시,금정구,부산 금정구 중앙대로2327번길 112-0,레저스포츠,육상레저스포츠,"26,867"
133,134,동래베네스트GC,부산광역시,금정구,부산 금정구,레저스포츠,육상레저스포츠,"20,797"
141,142,기장동원로얄컨트리클럽,부산광역시,기장군,부산 기장군 반송로 1345-0,레저스포츠,육상레저스포츠,"19,434"
169,170,부산북구문화빙상센터,부산광역시,북구,부산 북구 금곡대로46번길 50-0,레저스포츠,육상레저스포츠,"15,833"
187,188,하이스트CC,부산광역시,강서구,부산 강서구 과학산단1로 172-0,레저스포츠,육상레저스포츠,"12,849"
199,200,해라CC,부산광역시,강서구,부산 강서구 과학산단로306번길 77-0,레저스포츠,육상레저스포츠,"11,849"
208,209,문탠로드,부산광역시,해운대구,부산 해운대구,레저스포츠,기타레저스포츠,"11,144"
258,259,남구실내빙상장,부산광역시,남구,부산 남구 백운포로 106-0,레저스포츠,육상레저스포츠,"7,447"
269,270,동래아이스링크,부산광역시,동래구,부산 동래구 충렬대로 420-0,레저스포츠,육상레저스포츠,"6,444"
274,274,양정청소년수련관,부산광역시,부산진구,부산 부산진구 동평로405번길 85-0,레저스포츠,육상레저스포츠,"6,279"
280,281,금련산청소년수련원,부산광역시,수영구,부산 수영구 황령산로 156-0,레저스포츠,육상레저스포츠,"6,162"
294,295,김해체력단련장,부산광역시,강서구,부산 강서구,레저스포츠,육상레저스포츠,"5,752"
301,302,서프홀릭,부산광역시,해운대구,부산 해운대구 송정해변로 50-0,레저스포츠,수상레저스포츠,"5,367"
312,313,BnBK파3골프클럽,부산광역시,금정구,부산 금정구,레저스포츠,육상레저스포츠,"5,038"
313,314,스포원파크싸이드롬,부산광역시,금정구,부산 금정구 체육공원로399번길 324-0,레저스포츠,육상레저스포츠,"5,014"
373,374,회동수원지둘레길,부산광역시,금정구,부산 금정구 개좌로 147-0,레저스포츠,기타레저스포츠,"3,620"
384,385,기장군청소년수련관,부산광역시,기장군,부산 기장군 달음산길 106-0,레저스포츠,육상레저스포츠,"3,399"
402,403,더요트,부산광역시,해운대구,부산 해운대구 해운대해변로 84-0,레저스포츠,기타레저스포츠,"3,051"
407,408,이기대해안산책로,부산광역시,남구,부산 남구,레저스포츠,기타레저스포츠,"2,963"
430,431,부산광역시학생교육원,부산광역시,금정구,부산 금정구 북문로 178-0,레저스포츠,육상레저스포츠,"2,625"
451,452,대저생태공원파크골프장,부산광역시,강서구,부산 강서구,레저스포츠,육상레저스포츠,"2,403"
483,484,남해해양경찰수련원,부산광역시,영도구,부산 영도구 와치로 34-0,레저스포츠,육상레저스포츠,"2,126"
485,486,삼락생태공원인라인스케이트장1트랙,부산광역시,사상구,부산 사상구,레저스포츠,육상레저스포츠,"2,094"
498,499,구포무장애숲길,부산광역시,북구,부산 북구,레저스포츠,기타레저스포츠,"2,025"

In [16]:
df_ht = df[df['중분류 카테고리'] == '역사관광']
df_ht

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
8,9,해동용궁사,부산광역시,기장군,부산 기장군 용궁길 86-0,역사관광,종교성지,"199,253"
16,17,태종대,부산광역시,영도구,부산 영도구 전망로 24-0,역사관광,역사유적지,"121,311"
41,42,범어사,부산광역시,금정구,부산 금정구 범어사로 250-0,역사관광,종교성지,"73,779"
78,79,장안사,부산광역시,기장군,부산 기장군 장안로 482-0,역사관광,종교성지,"43,401"
131,132,삼광사,부산광역시,부산진구,부산 부산진구 초읍천로43번길 77-0,역사관광,종교성지,"21,066"
186,187,충렬사,부산광역시,동래구,부산 동래구 충렬대로 345-0,역사관광,역사유적지,"13,143"
191,192,홍법사,부산광역시,금정구,부산 금정구 두구로33번길 202-0,역사관광,종교성지,"12,398"
193,194,해광사,부산광역시,기장군,부산 기장군 기장해안로 340-0,역사관광,종교성지,"12,275"
200,201,선암사,부산광역시,부산진구,부산 부산진구 백양산로 138-0,역사관광,종교성지,"11,794"
265,266,해운정사,부산광역시,해운대구,부산 해운대구 우동2로 40-6,역사관광,종교성지,"6,921"
296,297,소원사,부산광역시,기장군,부산 기장군 정관중앙로 198-0,역사관광,종교성지,"5,699"
318,319,운수사,부산광역시,사상구,부산 사상구 모라로219번길 173-0,역사관광,종교성지,"4,862"
341,342,정수사,부산광역시,연제구,부산 연제구 톳고개로 60-0,역사관광,종교성지,"4,374"
342,342,혜원정사,부산광역시,연제구,부산 연제구 고분로68번길 47-0,역사관광,종교성지,"4,374"
344,345,동명불원,부산광역시,남구,부산 남구 동명로 57-0,역사관광,종교성지,"4,309"
351,352,은진사,부산광역시,기장군,부산 기장군 고무로 271-47,역사관광,종교성지,"4,187"
352,353,내원정사,부산광역시,서구,부산 서구 엄광산로40번길 80-0,역사관광,종교성지,"4,132"
359,360,옥정사,부산광역시,기장군,부산 기장군 달음길 101-0,역사관광,종교성지,"3,979"
365,366,금정산성,부산광역시,금정구,부산 금정구,역사관광,역사유적지,"3,844"
421,422,해월정,부산광역시,해운대구,부산 해운대구,역사관광,역사유적지,"2,758"
432,433,마하사,부산광역시,연제구,부산 연제구 봉수로 138-0,역사관광,종교성지,"2,606"
436,437,금정산성동문,부산광역시,금정구,부산 금정구,역사관광,역사유적지,"2,581"
446,447,광명사,부산광역시,금정구,부산 금정구 금샘로17번안길 45-0,역사관광,종교성지,"2,426"
448,449,성불사,부산광역시,해운대구,부산 해운대구 해운대로383번길 270-0,역사관광,종교성지,"2,415"
458,459,해동성취사,부산광역시,기장군,부산 기장군 일광로 427-0,역사관광,종교성지,"2,351"
477,476,인각사,부산광역시,남구,부산 남구 진남로 234-0,역사관광,종교성지,"2,179"
479,480,안국선원,부산광역시,금정구,부산 금정구 금단로 124-0,역사관광,종교성지,"2,159"
484,485,옥련선원,부산광역시,수영구,부산 수영구 광남로257번길 58-0,역사관광,종교성지,"2,120"
486,487,복천사,부산광역시,영도구,부산 영도구 산정길 41-0,역사관광,종교성지,"2,092"

In [20]:
df2

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,칠암사계,부산광역시,기장군,부산 기장군 칠암1길 7-10,음식,카페/찻집,"100,578"
1,2,웨이브온커피,부산광역시,기장군,부산 기장군 해맞이로 286-0,음식,카페/찻집,"66,691"
2,3,피아크카페앤베이커리,부산광역시,영도구,부산 영도구 해양로195번길 180-0,음식,카페/찻집,"60,904"
3,4,해운대암소갈비집,부산광역시,해운대구,부산 해운대구 중동2로10번길 32-10,음식,한식,"50,002"
4,5,합천일류돼지국밥,부산광역시,사상구,부산 사상구 광장로 34-0,음식,한식,"35,188"
...,...,...,...,...,...,...,...,...
495,496,하동집,부산광역시,금정구,부산 금정구 오륜대로 258-0,음식,전문음식,"3,774"
496,497,맛찬들왕소금구이대연동직영점,부산광역시,남구,부산 남구 유엔평화로 36-0,음식,한식,"3,762"
497,498,탐앤탐스블랙달맞이점,부산광역시,해운대구,부산 해운대구 달맞이길 213-0,음식,카페/찻집,"3,761"
498,499,버거샵,부산광역시,해운대구,부산 해운대구 우동1로20번길 19-0,음식,간이음식,"3,749"
499,500,바다마루전복죽,부산광역시,해운대구,부산 해운대구 달맞이길62번길 7-0,음식,전문음식,"3,732"

In [21]:
df3

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,아난티힐튼부산,부산광역시,기장군,부산 기장군 기장해안로 268-32,숙박,호텔,"152,941"
1,2,파라다이스호텔부산,부산광역시,해운대구,부산 해운대구 해운대해변로 296-0,숙박,호텔,"111,872"
2,3,한화리조트해운대,부산광역시,해운대구,부산 해운대구 마린시티3로 52-0,숙박,콘도미니엄,"103,401"
3,4,웨스틴조선호텔부산,부산광역시,해운대구,부산 해운대구 동백로 67-0,숙박,호텔,"62,558"
4,5,롯데호텔부산점,부산광역시,부산진구,부산 부산진구 가야대로 772-0,숙박,호텔,"60,070"
...,...,...,...,...,...,...,...,...
495,496,하운드호텔정관점,부산광역시,기장군,부산 기장군 산단1로 98-11,숙박,호텔,983
496,497,모모쥬스,부산광역시,해운대구,부산 해운대구 해운대해변로209번길 12-0,숙박,모텔,978
497,497,아이유모텔,부산광역시,연제구,부산 연제구 월드컵대로99번길 31-0,숙박,모텔,978
498,499,제이모텔,부산광역시,사상구,부산 사상구 대동로 297-0,숙박,모텔,976
499,500,브이호텔,부산광역시,중구,부산 중구 보수대로 8-3,숙박,호텔,971

In [22]:
df4

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
0,1,고봉민김밥인,부산 영도구 와치로 250 (동삼동) 1층,NaN,35.075315,129.068770,2022-12-22
1,2,미사랑스킨앤바디,"부산 사하구 승학로224번길 10 ,1층(괴정동)",NaN,35.101239,128.990313,2022-12-22
2,3,피자스쿨 부산재송점,부산 해운대구 재반로 182 비둘기맨션상가 B동 가호 (재송동),NaN,35.193467,129.130557,2022-12-22
3,4,미스터피자아시아드2호점,"부산 연제구 월드컵대로 232 2층 (거제동,거벌빌등)",NaN,35.189890,129.071940,2022-12-22
4,5,성원칼국수,부산 부산진구 냉정로 220-1 (개금동),NaN,35.150897,129.023928,2022-12-22
...,...,...,...,...,...,...,...
126936,126937,행복한 정쌤 공부방,"부산 강서구 명지오션시티11로 22, 102동 203호 (명지동,명지두산위브포세이돈)",NaN,35.083390,128.896842,2022-12-22
126937,126938,행복홈케어,"부산 사하구 서포로30번길 12 207동 301호 (구평동,e편한세상아파트)",NaN,35.081755,128.985395,2022-12-22
126938,126939,현대표구사,부산 중구 중앙대로 137-1 (대창동2가),NaN,35.109934,129.037028,2022-12-22
126939,126940,현혜반점,NaN,"부산 사상구 덕포동 404-7,8",NaN,NaN,2022-12-22
126940,126941,개인택시조합 구내식당,부산 연제구 월드컵대로 399 (거제동),NaN,35.186010,129.055979,2022-12-22

In [56]:
df_et = df[df['중분류 카테고리'] == '체험관광']
df_et

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
53,54,허심청,부산광역시,동래구,부산 동래구 온천장로107번길 32-0,체험관광,웰니스관광,"57,842"
205,206,센텀시티스파랜드,부산광역시,해운대구,부산 해운대구 센텀남대로 35-0,체험관광,웰니스관광,"11,326"
237,238,해운대온천센터,부산광역시,해운대구,부산 해운대구 중동2로 16-0,체험관광,웰니스관광,"8,554"
262,263,정관온천,부산광역시,기장군,부산 기장군 정관8로 16-5,체험관광,웰니스관광,"7,210"
325,326,태종대온천,부산광역시,영도구,부산 영도구 태종로 808-0,체험관광,웰니스관광,"4,664"
403,404,카덴96,부산광역시,기장군,부산 기장군 기장대로 1075-3,체험관광,웰니스관광,"3,050"
410,410,금정산부곡온천,부산광역시,금정구,부산 금정구 수림로20번길 36-0,체험관광,웰니스관광,"2,889"
414,415,공수어촌체험마을,부산광역시,기장군,부산 기장군 공수해안길 13-2,체험관광,농/산/어촌체험,"2,868"
488,489,라이프온천,부산광역시,기장군,부산 기장군 반송로 1650-0,체험관광,웰니스관광,"2,073"

In [25]:
df4[df4['가맹점명'].str.contains('허심청')]

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
37241,37242,하삼동커피 허심청점,부산 동래구 온천장로 81-1 1층 (온천동),NaN,35.218633,129.082270,2022-12-22
68716,68717,메가커피 허심청점,부산 동래구 온천장로 125 (온천동),NaN,35.221874,129.084784,2022-12-22

In [9]:
df4[df4['가맹점명'].str.contains('해운대해수욕장')]

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
44749,44750,다비치안경해운대해수욕장입구점,부산 해운대구 구남로 11-1 (우동),NaN,35.162876,129.159814,2022-12-22

In [58]:
df4[df4['가맹점명'].str.contains('정관온천')]

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
56883,56884,정관온천주식회사,"부산 기장군 정관면 정관 8 로 16-5, ( 매학리 , 정관온천 )",NaN,35.332765,129.17678,2022-12-22

# ㅁㄴㅇㄹ

In [5]:
result1 = pd.concat([df, df2])
result2 = pd.concat([result1, df3])
result2

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,신세계백화점센텀시티점,부산광역시,해운대구,부산 해운대구 센텀남대로 35-0,쇼핑,백화점,"559,499"
1,2,김해공항국내선청사,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,"446,879"
2,3,롯데백화점부산본점,부산광역시,부산진구,부산 부산진구 가야대로 772-0,쇼핑,백화점,"381,864"
3,4,김해국제공항,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,"321,903"
4,5,광안리해수욕장,부산광역시,수영구,부산 수영구 광안해변로 219-0,자연관광,자연경관(하천/해양),"261,818"
...,...,...,...,...,...,...,...,...
495,496,하운드호텔정관점,부산광역시,기장군,부산 기장군 산단1로 98-11,숙박,호텔,983
496,497,모모쥬스,부산광역시,해운대구,부산 해운대구 해운대해변로209번길 12-0,숙박,모텔,978
497,497,아이유모텔,부산광역시,연제구,부산 연제구 월드컵대로99번길 31-0,숙박,모텔,978
498,499,제이모텔,부산광역시,사상구,부산 사상구 대동로 297-0,숙박,모텔,976
499,500,브이호텔,부산광역시,중구,부산 중구 보수대로 8-3,숙박,호텔,971

In [6]:
result2['검색건수'] = result2['검색건수'].str.replace(',','')
result2['검색건수'] = result2['검색건수'].astype('int')

In [7]:
df_new = result2.sort_values(by='검색건수',ascending = False)
df_new.head(50)

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,신세계백화점센텀시티점,부산광역시,해운대구,부산 해운대구 센텀남대로 35-0,쇼핑,백화점,559499
1,2,김해공항국내선청사,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,446879
2,3,롯데백화점부산본점,부산광역시,부산진구,부산 부산진구 가야대로 772-0,쇼핑,백화점,381864
3,4,김해국제공항,부산광역시,강서구,부산 강서구 공항진입로 108-0,기타관광,교통시설,321903
4,5,광안리해수욕장,부산광역시,수영구,부산 수영구 광안해변로 219-0,자연관광,자연경관(하천/해양),261818
5,6,해운대해수욕장,부산광역시,해운대구,부산 해운대구 해운대해변로 264-0,자연관광,자연경관(하천/해양),261722
6,7,코스트코홀세일부산점,부산광역시,수영구,부산 수영구 구락로 137-0,쇼핑,대형마트,260036
7,8,송정해수욕장,부산광역시,해운대구,부산 해운대구 송정해변로 62-0,자연관광,자연경관(하천/해양),244851
8,9,해동용궁사,부산광역시,기장군,부산 기장군 용궁길 86-0,역사관광,종교성지,199253
9,10,롯데백화점광복점,부산광역시,중구,부산 중구 중앙대로 2-0,쇼핑,백화점,172097
0,1,아난티힐튼부산,부산광역시,기장군,부산 기장군 기장해안로 268-32,숙박,호텔,152941
10,11,롯데프리미엄아울렛동부산점,부산광역시,기장군,부산 기장군 기장해안로 147-0,쇼핑,쇼핑몰,152655
11,12,NC백화점서면점,부산광역시,부산진구,부산 부산진구 동천로 92-0,쇼핑,백화점,150114
12,13,다대포해수욕장,부산광역시,사하구,부산 사하구 몰운대1길 14-0,자연관광,자연경관(하천/해양),144834
13,14,롯데월드어드벤처부산,부산광역시,기장군,부산 기장군 동부산관광로 42-0,문화관광,테마공원,134067
14,15,이마트트레이더스연산점,부산광역시,연제구,부산 연제구 좌수영로 241-0,쇼핑,대형마트,131370
15,16,기장시장,부산광역시,기장군,부산 기장군 읍내로104번길 16-0,쇼핑,시장,124470
16,17,태종대,부산광역시,영도구,부산 영도구 전망로 24-0,역사관광,역사유적지,121311
17,18,송도해수욕장,부산광역시,서구,부산 서구,자연관광,자연경관(하천/해양),119540
18,19,롯데백화점동래점,부산광역시,동래구,부산 동래구 중앙대로 1393-0,쇼핑,백화점,114686
19,20,반여농산물도매시장,부산광역시,해운대구,부산 해운대구 수영강변대로 626-0,쇼핑,시장,113616
20,21,국제시장,부산광역시,중구,부산 중구 국제시장2길 25-0,쇼핑,시장,112193
1,2,파라다이스호텔부산,부산광역시,해운대구,부산 해운대구 해운대해변로 296-0,숙박,호텔,111872
21,22,이케아동부산점,부산광역시,기장군,부산 기장군 동부산관광3로 17-0,쇼핑,쇼핑몰,109737
2,3,한화리조트해운대,부산광역시,해운대구,부산 해운대구 마린시티3로 52-0,숙박,콘도미니엄,103401
0,1,칠암사계,부산광역시,기장군,부산 기장군 칠암1길 7-10,음식,카페/찻집,100578
22,23,이마트트레이더스명지점,부산광역시,강서구,부산 강서구 명지국제6로 168-0,쇼핑,대형마트,99616
23,24,자갈치시장,부산광역시,중구,부산 중구 자갈치해안로 52-0,쇼핑,시장,98673
24,25,이마트해운대점,부산광역시,해운대구,부산 해운대구 좌동순환로 511-0,쇼핑,대형마트,95167
25,26,이마트문현점,부산광역시,남구,부산 남구 전포대로91번길 47-0,쇼핑,대형마트,91087
26,27,롯데마트화명점,부산광역시,북구,부산 북구 화명대로 47-0,쇼핑,대형마트,89824
27,28,BEXCO,부산광역시,해운대구,부산 해운대구 APEC로 55-0,문화관광,전시시설,89716
28,29,신세계프리미엄아울렛부산점,부산광역시,기장군,부산 기장군 정관로 1133-0,쇼핑,쇼핑몰,88702
29,30,신세계센텀시티몰,부산광역시,해운대구,부산 해운대구 센텀4로 15-0,쇼핑,백화점,88631
30,31,벡스코제1전시장,부산광역시,해운대구,부산 해운대구 APEC로 55-0,문화관광,전시시설,87725
31,32,메가마트동래점,부산광역시,동래구,부산 동래구 충렬대로 197-0,쇼핑,대형마트,87452
32,33,이마트트레이더스서면점,부산광역시,부산진구,부산 부산진구 시민공원로 31-0,쇼핑,대형마트,86358
33,34,이마트연제점,부산광역시,연제구,부산 연제구 연수로 89-0,쇼핑,대형마트,80580
34,35,일광해수욕장,부산광역시,기장군,부산 기장군 삼성3길 0-0,자연관광,자연경관(하천/해양),80397
35,36,부산시민공원,부산광역시,부산진구,부산 부산진구 시민공원로 73-0,문화관광,도시공원,78895
36,37,해운대블루라인파크미포정거장,부산광역시,해운대구,부산 해운대구 달맞이길62번길 13-0,기타관광,기타관광,78421
37,38,이마트금정점,부산광역시,금정구,부산 금정구 중앙대로1841번길 24-0,쇼핑,대형마트,77997
38,39,롯데백화점센텀시티점,부산광역시,해운대구,부산 해운대구 센텀남대로 59-0,쇼핑,백화점,77908
39,40,홈플러스아시아드점,부산광역시,연제구,부산 연제구 종합운동장로 7-0,쇼핑,대형마트,77360
40,41,대변항,부산광역시,기장군,부산 기장군 기장해안로 0-0,자연관광,자연경관(하천/해양),74298
41,42,범어사,부산광역시,금정구,부산 금정구 범어사로 250-0,역사관광,종교성지,73779
42,43,이마트사상점,부산광역시,사상구,부산 사상구 광장로 17-0,쇼핑,대형마트,73612
43,44,신선대부두,부산광역시,남구,부산 남구,자연관광,자연경관(하천/해양),72716
44,45,현대백화점부산점,부산광역시,동구,부산 동구 범일로 125-0,쇼핑,백화점,71870
45,46,엄궁농산물도매시장,부산광역시,사상구,부산 사상구 농산물시장로9번길 11-0,쇼핑,시장,71059

In [10]:
df_new.describe()

                순위           검색건수
count  1500.000000    1500.000000
mean    250.460000   13113.522000
std     144.358281   32055.719468
min       1.000000     971.000000
25%     125.750000    2745.750000
50%     250.500000    5045.500000
75%     375.250000   10157.000000
max     500.000000  559499.000000

# api

In [13]:
import requests

url = 'http://apis.data.go.kr/6260000/BusanTourStaticService2/getVisitorStatInfo2'
params ={'serviceKey' : '0GFThSrrIYeZWEGew0ybzsOdq6pANbVrZE9nAcjjrqO4hpPyF4/HS5MaRgb83oizsBHn7hY5ek8MYcL52KwIUA==', 'numOfRows' : '10', 'pageNo' : '1', 'resultType' : 'xml' }

response = requests.get(url, params=params).text
response

'<?xml version="1.0" encoding="UTF-8"?><response>\n  <header>\n    <resultMsg>NORMAL_CODE</resultMsg>\n    <resultCode>00</resultCode>\n  </header>\n  <body>\n    <items>\n      <item>\n        <car>118393204</car>\n        <grocery>460363898</grocery>\n        <provincejeju>37449</provincejeju>\n        <provincedaegu>157822</provincedaegu>\n        <provincejeonbuk>33842</provincejeonbuk>\n        <clothing>2586385764</clothing>\n        <sports>1879219481</sports>\n        <provincegyeongbuk>102721</provincegyeongbuk>\n        <provinceincheon>93496</provinceincheon>\n        <travel>149356280</travel>\n        <beauty>921787813</beauty>\n        <online>25677805</online>\n        <spot>BIFF광장·용두산공원,보수동책방골목</spot>\n        <agethirties>383953</agethirties>\n        <provincegyeongnam>345244</provincegyeongnam>\n        <medical>958692434</medical>\n        <provincechungbuk>32664</provincechungbuk>\n        <agesixties>299052</agesixties>\n        <agetwenties>400169</agetwenties>\n        <edu>591530129</edu>\n        <ageforties>417484</ageforties>\n        <provinceulsan>138904</provinceulsan>\n        <agefifties>357539</agefifties>\n        <teens>113008</teens>\n        <provincegwangju>21717</provincegwangju>\n        <provincechungnam>67309</provincechungnam>\n        <distribution>2463227512</distribution>\n        <electronic>42717430</electronic>\n        <entertainment>5068470084</entertainment>\n        <provincejeonnam>69442</provincejeonnam>\n        <provincedaejeon>37435</provincedaejeon>\n        <provincesejong>22166</provincesejong>\n        <service>10298170</service>\n        <provinceseoul>357761</provinceseoul>\n        <provincegangwon>47200</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>406039</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>173970977</grocery>\n        <provincejeju>3790</provincejeju>\n        <provincedaegu>12578</provincedaegu>\n        <provincejeonbuk>3428</provincejeonbuk>\n        <clothing>160144599</clothing>\n        <sports>103252640</sports>\n        <provincegyeongbuk>10230</provincegyeongbuk>\n        <provinceincheon>9298</provinceincheon>\n        <travel>0</travel>\n        <beauty>33826994</beauty>\n        <online>0</online>\n        <spot>감천문화마을</spot>\n        <agethirties>35328</agethirties>\n        <provincegyeongnam>41715</provincegyeongnam>\n        <medical>60307182</medical>\n        <provincechungbuk>3499</provincechungbuk>\n        <agesixties>29615</agesixties>\n        <agetwenties>38767</agetwenties>\n        <edu>60518765</edu>\n        <ageforties>42599</ageforties>\n        <provinceulsan>12246</provinceulsan>\n        <agefifties>36946</agefifties>\n        <teens>14367</teens>\n        <provincegwangju>2173</provincegwangju>\n        <provincechungnam>7296</provincechungnam>\n        <distribution>513495327</distribution>\n        <electronic>23205510</electronic>\n        <entertainment>212284232</entertainment>\n        <provincejeonnam>6720</provincejeonnam>\n        <provincedaejeon>3247</provincedaejeon>\n        <provincesejong>2190</provincesejong>\n        <service>28450666</service>\n        <provinceseoul>30816</provinceseoul>\n        <provincegangwon>6825</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>41568</provincegyeonggi>\n      </item>\n      <item>\n        <car>648577362</car>\n        <grocery>382925012</grocery>\n        <provincejeju>13371</provincejeju>\n        <provincedaegu>74335</provincedaegu>\n        <provincejeonbuk>14402</provincejeonbuk>\n        <clothing>856048107</clothing>\n        <sports>1330741424</sports>\n        <provincegyeongbuk>42849</provincegyeongbuk>\n        <provinceincheon>36115</provinceincheon>\n        <travel>2276886360</travel>\n        <beauty>611619991</beauty>\n        <online>0</online>\n        <spot>광안리 해수욕장</spot>\n        <agethirties>191372</agethirties>\n        <provincegyeongnam>117171</provincegyeongnam>\n        <medical>329198963</medical>\n        <provincechungbuk>12878</provincechungbuk>\n        <agesixties>81907</agesixties>\n        <agetwenties>251765</agetwenties>\n        <edu>387302941</edu>\n        <ageforties>154270</ageforties>\n        <provinceulsan>61928</provinceulsan>\n        <agefifties>120878</agefifties>\n        <teens>45022</teens>\n        <provincegwangju>11143</provincegwangju>\n        <provincechungnam>25949</provincechungnam>\n        <distribution>2995433979</distribution>\n        <electronic>29378300</electronic>\n        <entertainment>27150533827</entertainment>\n        <provincejeonnam>20374</provincejeonnam>\n        <provincedaejeon>17546</provincedaejeon>\n        <provincesejong>8783</provincesejong>\n        <service>264361516</service>\n        <provinceseoul>187347</provinceseoul>\n        <provincegangwon>17237</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>183784</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>0</grocery>\n        <provincejeju>1505</provincejeju>\n        <provincedaegu>6815</provincedaegu>\n        <provincejeonbuk>2003</provincejeonbuk>\n        <clothing>0</clothing>\n        <sports>0</sports>\n        <provincegyeongbuk>4025</provincegyeongbuk>\n        <provinceincheon>5209</provinceincheon>\n        <travel>0</travel>\n        <beauty>0</beauty>\n        <online>0</online>\n        <spot>국립해양박물관</spot>\n        <agethirties>16876</agethirties>\n        <provincegyeongnam>10792</provincegyeongnam>\n        <medical>0</medical>\n        <provincechungbuk>1485</provincechungbuk>\n        <agesixties>12701</agesixties>\n        <agetwenties>17562</agetwenties>\n        <edu>0</edu>\n        <ageforties>19396</ageforties>\n        <provinceulsan>5392</provinceulsan>\n        <agefifties>17193</agefifties>\n        <teens>6175</teens>\n        <provincegwangju>1222</provincegwangju>\n        <provincechungnam>4101</provincechungnam>\n        <distribution>0</distribution>\n        <electronic>0</electronic>\n        <entertainment>65614205</entertainment>\n        <provincejeonnam>5248</provincejeonnam>\n        <provincedaejeon>2118</provincedaejeon>\n        <provincesejong>1832</provincesejong>\n        <service>0</service>\n        <provinceseoul>14696</provinceseoul>\n        <provincegangwon>2924</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>20535</provincegyeonggi>\n      </item>\n      <item>\n        <car>71903500</car>\n        <grocery>416798160</grocery>\n        <provincejeju>4866</provincejeju>\n        <provincedaegu>12465</provincedaegu>\n        <provincejeonbuk>3618</provincejeonbuk>\n        <clothing>3151000</clothing>\n        <sports>178008820</sports>\n        <provincegyeongbuk>13741</provincegyeongbuk>\n        <provinceincheon>10136</provinceincheon>\n        <travel>0</travel>\n        <beauty>223755160</beauty>\n        <online>0</online>\n        <spot>다대포 해수욕장(꿈의 낙조분수, 몰운대)</spot>\n        <agethirties>40230</agethirties>\n        <provincegyeongnam>40338</provincegyeongnam>\n        <medical>211243813</medical>\n        <provincechungbuk>1905</provincechungbuk>\n        <agesixties>25365</agesixties>\n        <agetwenties>29601</agetwenties>\n        <edu>123889500</edu>\n        <ageforties>43500</ageforties>\n        <provinceulsan>11834</provinceulsan>\n        <agefifties>34571</agefifties>\n        <teens>5776</teens>\n        <provincegwangju>1543</provincegwangju>\n        <provincechungnam>6401</provincechungnam>\n        <distribution>1534201980</distribution>\n        <electronic>0</electronic>\n        <entertainment>5017612304</entertainment>\n        <provincejeonnam>12938</provincejeonnam>\n        <provincedaejeon>1812</provincedaejeon>\n        <provincesejong>1479</provincesejong>\n        <service>12646089</service>\n        <provinceseoul>18999</provinceseoul>\n        <provincegangwon>11538</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>25426</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>0</grocery>\n        <provincejeju>6819</provincejeju>\n        <provincedaegu>27722</provincedaegu>\n        <provincejeonbuk>4388</provincejeonbuk>\n        <clothing>0</clothing>\n        <sports>0</sports>\n        <provincegyeongbuk>14679</provincegyeongbuk>\n        <provinceincheon>13347</provinceincheon>\n        <travel>0</travel>\n        <beauty>0</beauty>\n        <online>0</online>\n        <spot>달맞이고개</spot>\n        <agethirties>77722</agethirties>\n        <provincegyeongnam>33682</provincegyeongnam>\n        <medical>0</medical>\n        <provincechungbuk>4749</provincechungbuk>\n        <agesixties>43893</agesixties>\n        <agetwenties>60895</agetwenties>\n        <edu>0</edu>\n        <ageforties>72198</ageforties>\n        <provinceulsan>28520</provinceulsan>\n        <agefifties>57037</agefifties>\n        <teens>16192</teens>\n        <provincegwangju>4367</provincegwangju>\n        <provincechungnam>9646</provincechungnam>\n        <distribution>0</distribution>\n        <electronic>0</electronic>\n        <entertainment>0</entertainment>\n        <provincejeonnam>7498</provincejeonnam>\n        <provincedaejeon>6010</provincedaejeon>\n        <provincesejong>3788</provincesejong>\n        <service>0</service>\n        <provinceseoul>84673</provinceseoul>\n        <provincegangwon>5980</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>72064</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>136352750</grocery>\n        <provincejeju>24967</provincejeju>\n        <provincedaegu>112717</provincedaegu>\n        <provincejeonbuk>24794</provincejeonbuk>\n        <clothing>0</clothing>\n        <sports>67284705</sports>\n        <provincegyeongbuk>55500</provincegyeongbuk>\n        <provinceincheon>62110</provinceincheon>\n        <travel>3485837951</travel>\n        <beauty>4945400</beauty>\n        <online>0</online>\n        <spot>동백섬&amp;누리마루APEC하우스</spot>\n        <agethirties>318148</agethirties>\n        <provincegyeongnam>106723</provincegyeongnam>\n        <medical>0</medical>\n        <provincechungbuk>19934</provincechungbuk>\n        <agesixties>131727</agesixties>\n        <agetwenties>301475</agetwenties>\n        <edu>0</edu>\n        <ageforties>294644</ageforties>\n        <provinceulsan>71100</provinceulsan>\n        <agefifties>197098</agefifties>\n        <teens>89310</teens>\n        <provincegwangju>21122</provincegwangju>\n        <provincechungnam>35966</provincechungnam>\n        <distribution>0</distribution>\n        <electronic>0</electronic>\n        <entertainment>2169702267</entertainment>\n        <provincejeonnam>27196</provincejeonnam>\n        <provincedaejeon>28382</provincedaejeon>\n        <provincesejong>15672</provincesejong>\n        <service>0</service>\n        <provinceseoul>365479</provinceseoul>\n        <provincegangwon>23987</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>336755</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>52245720</grocery>\n        <provincejeju>2024</provincejeju>\n        <provincedaegu>27962</provincedaegu>\n        <provincejeonbuk>7415</provincejeonbuk>\n        <clothing>0</clothing>\n        <sports>3339900</sports>\n        <provincegyeongbuk>21098</provincegyeongbuk>\n        <provinceincheon>11121</provinceincheon>\n        <travel>0</travel>\n        <beauty>0</beauty>\n        <online>0</online>\n        <spot>렛츠런파크</spot>\n        <agethirties>102422</agethirties>\n        <provincegyeongnam>285203</provincegyeongnam>\n        <medical>0</medical>\n        <provincechungbuk>5558</provincechungbuk>\n        <agesixties>71641</agesixties>\n        <agetwenties>36668</agetwenties>\n        <edu>0</edu>\n        <ageforties>144091</ageforties>\n        <provinceulsan>39688</provinceulsan>\n        <agefifties>129532</agefifties>\n        <teens>9362</teens>\n        <provincegwangju>2875</provincegwangju>\n        <provincechungnam>9018</provincechungnam>\n        <distribution>0</distribution>\n        <electronic>0</electronic>\n        <entertainment>45102593</entertainment>\n        <provincejeonnam>7441</provincejeonnam>\n        <provincedaejeon>5068</provincedaejeon>\n        <provincesejong>2427</provincesejong>\n        <service>0</service>\n        <provinceseoul>21201</provinceseoul>\n        <provincegangwon>3433</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>42180</provincegyeonggi>\n      </item>\n      <item>\n        <car>6086190</car>\n        <grocery>195772277</grocery>\n        <provincejeju>25977</provincejeju>\n        <provincedaegu>90307</provincedaegu>\n        <provincejeonbuk>18301</provincejeonbuk>\n        <clothing>249805278</clothing>\n        <sports>160072375</sports>\n        <provincegyeongbuk>45947</provincegyeongbuk>\n        <provinceincheon>46083</provinceincheon>\n        <travel>2194666625</travel>\n        <beauty>332297807</beauty>\n        <online>0</online>\n        <spot>마린시티 카페거리</spot>\n        <agethirties>266004</agethirties>\n        <provincegyeongnam>100390</provincegyeongnam>\n        <medical>11590330</medical>\n        <provincechungbuk>15300</provincechungbuk>\n        <agesixties>120577</agesixties>\n        <agetwenties>240586</agetwenties>\n        <edu>41387975</edu>\n        <ageforties>240309</ageforties>\n        <provinceulsan>67318</provinceulsan>\n        <agefifties>168370</agefifties>\n        <teens>69849</teens>\n        <provincegwangju>16408</provincegwangju>\n        <provincechungnam>28036</provincechungnam>\n        <distribution>738210292</distribution>\n        <electronic>0</electronic>\n        <entertainment>3810389381</entertainment>\n        <provincejeonnam>21271</provincejeonnam>\n        <provincedaejeon>23277</provincedaejeon>\n        <provincesejong>13267</provincesejong>\n        <service>24327000</service>\n        <provinceseoul>313445</provinceseoul>\n        <provincegangwon>20600</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>259769</provincegyeonggi>\n      </item>\n      <item>\n        <car>0</car>\n        <grocery>0</grocery>\n        <provincejeju>13559</provincejeju>\n        <provincedaegu>65723</provincedaegu>\n        <provincejeonbuk>12741</provincejeonbuk>\n        <clothing>0</clothing>\n        <sports>0</sports>\n        <provincegyeongbuk>38008</provincegyeongbuk>\n        <provinceincheon>31081</provinceincheon>\n        <travel>0</travel>\n        <beauty>0</beauty>\n        <online>0</online>\n        <spot>민락수변공원</spot>\n        <agethirties>183898</agethirties>\n        <provincegyeongnam>94653</provincegyeongnam>\n        <medical>0</medical>\n        <provincechungbuk>10994</provincechungbuk>\n        <agesixties>81191</agesixties>\n        <agetwenties>199068</agetwenties>\n        <edu>0</edu>\n        <ageforties>159162</ageforties>\n        <provinceulsan>70300</provinceulsan>\n        <agefifties>119741</agefifties>\n        <teens>36168</teens>\n        <provincegwangju>9819</provincegwangju>\n        <provincechungnam>23601</provincechungnam>\n        <distribution>0</distribution>\n        <electronic>0</electronic>\n        <entertainment>0</entertainment>\n        <provincejeonnam>17992</provincejeonnam>\n        <provincedaejeon>15597</provincedaejeon>\n        <provincesejong>7796</provincesejong>\n        <service>0</service>\n        <provinceseoul>179688</provinceseoul>\n        <provincegangwon>17585</provincegangwon>\n        <oiling>0</oiling>\n        <provincegyeonggi>170087</provincegyeonggi>\n      </item>\n    </items>\n    <numOfRows>10</numOfRows>\n    <pageNo>1</pageNo>\n    <totalCount>26</totalCount>\n  </body>\n</response>\n'

# 123

In [ ]:
df2.head()

,순번,가맹점명,도로명,지번,위도,경도,데이터기준일자
0,1,고봉민김밥인,부산 영도구 와치로 250 (동삼동) 1층,NaN,35.075315,129.068770,2022-12-22
1,2,미사랑스킨앤바디,"부산 사하구 승학로224번길 10 ,1층(괴정동)",NaN,35.101239,128.990313,2022-12-22
2,3,피자스쿨 부산재송점,부산 해운대구 재반로 182 비둘기맨션상가 B동 가호 (재송동),NaN,35.193467,129.130557,2022-12-22
3,4,미스터피자아시아드2호점,"부산 연제구 월드컵대로 232 2층 (거제동,거벌빌등)",NaN,35.189890,129.071940,2022-12-22
4,5,성원칼국수,부산 부산진구 냉정로 220-1 (개금동),NaN,35.150897,129.023928,2022-12-22

In [ ]:
df_cul_nat = df[(df['중분류 카테고리'] == '문화관광') | (df['중분류 카테고리'] == '자연관광')]
df_cul_nat

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
4,5,광안리해수욕장,부산광역시,수영구,부산 수영구 광안해변로 219-0,자연관광,자연경관(하천/해양),"261,818"
5,6,해운대해수욕장,부산광역시,해운대구,부산 해운대구 해운대해변로 264-0,자연관광,자연경관(하천/해양),"261,722"
7,8,송정해수욕장,부산광역시,해운대구,부산 해운대구 송정해변로 62-0,자연관광,자연경관(하천/해양),"244,851"
12,13,다대포해수욕장,부산광역시,사하구,부산 사하구 몰운대1길 14-0,자연관광,자연경관(하천/해양),"144,834"
13,14,롯데월드어드벤처부산,부산광역시,기장군,부산 기장군 동부산관광로 42-0,문화관광,테마공원,"134,067"
...,...,...,...,...,...,...,...,...
491,492,75광장,부산광역시,영도구,부산 영도구,문화관광,도시공원,"2,060"
494,495,조은극장1관,부산광역시,중구,부산 중구 구덕로34번길 4-0,문화관광,공연시설,"2,040"
495,496,메가박스해운대,부산광역시,해운대구,부산 해운대구 해운대로 813-0,문화관광,공연시설,"2,033"
497,498,메가박스부산대,부산광역시,금정구,부산 금정구 장전로12번길 55-0,문화관광,공연시설,"2,029"
499,500,비콘그라운드,부산광역시,수영구,부산 수영구 망미번영로 0-0,문화관광,기타문화관광지,"2,015"

In [ ]:
df2[df2['관광지명'].str.contains('광안리')]

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
213,214,커피스미스광안리점,부산광역시,수영구,부산 수영구 광안해변로255번길 5-0,음식,카페/찻집,"7,139"
397,398,스타벅스광안리점,부산광역시,수영구,부산 수영구 광안해변로 247-0,음식,카페/찻집,"4,540"

In [ ]:
df2['소분류 카테고리'].value_counts()

한식       162
카페/찻집    131
전문음식     110
간이음식      59
외국식       37
음식점기타      1
Name: 소분류 카테고리, dtype: int64

In [ ]:
df_cafe = df2[df2['소분류 카테고리'] == '카페/찻집']
df_cafe

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수
0,1,칠암사계,부산광역시,기장군,부산 기장군 칠암1길 7-10,음식,카페/찻집,"100,578"
1,2,웨이브온커피,부산광역시,기장군,부산 기장군 해맞이로 286-0,음식,카페/찻집,"66,691"
2,3,피아크카페앤베이커리,부산광역시,영도구,부산 영도구 해양로195번길 180-0,음식,카페/찻집,"60,904"
7,8,스타벅스명지강변DT점,부산광역시,강서구,부산 강서구 르노삼성대로 620-0,음식,카페/찻집,"32,333"
10,11,헤이든,부산광역시,기장군,부산 기장군 문오성길 22-0,음식,카페/찻집,"30,271"
...,...,...,...,...,...,...,...,...
479,480,쿼피집,부산광역시,사상구,부산 사상구 사상로356번길 16-0,음식,카페/찻집,"3,874"
480,481,로와맨션,부산광역시,기장군,부산 기장군 학리2길 6-0,음식,카페/찻집,"3,871"
487,488,아시오,부산광역시,부산진구,부산 부산진구 월드컵대로472번길 1-0,음식,카페/찻집,"3,821"
493,494,카페노티드부산해운대,부산광역시,해운대구,부산 해운대구 구남로 17-0,음식,카페/찻집,"3,782"
497,498,탐앤탐스블랙달맞이점,부산광역시,해운대구,부산 해운대구 달맞이길 213-0,음식,카페/찻집,"3,761"

In [ ]:
df_cafe['지역화폐 사용가능'] = 'o'

<ipython-input-11-b93d5880b6d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cafe['지역화폐 사용가능'] = 'o'

In [ ]:
df_cafe

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수,지역화폐 사용가능
0,1,칠암사계,부산광역시,기장군,부산 기장군 칠암1길 7-10,음식,카페/찻집,"100,578",o
1,2,웨이브온커피,부산광역시,기장군,부산 기장군 해맞이로 286-0,음식,카페/찻집,"66,691",o
2,3,피아크카페앤베이커리,부산광역시,영도구,부산 영도구 해양로195번길 180-0,음식,카페/찻집,"60,904",o
7,8,스타벅스명지강변DT점,부산광역시,강서구,부산 강서구 르노삼성대로 620-0,음식,카페/찻집,"32,333",o
10,11,헤이든,부산광역시,기장군,부산 기장군 문오성길 22-0,음식,카페/찻집,"30,271",o
...,...,...,...,...,...,...,...,...,...
479,480,쿼피집,부산광역시,사상구,부산 사상구 사상로356번길 16-0,음식,카페/찻집,"3,874",o
480,481,로와맨션,부산광역시,기장군,부산 기장군 학리2길 6-0,음식,카페/찻집,"3,871",o
487,488,아시오,부산광역시,부산진구,부산 부산진구 월드컵대로472번길 1-0,음식,카페/찻집,"3,821",o
493,494,카페노티드부산해운대,부산광역시,해운대구,부산 해운대구 구남로 17-0,음식,카페/찻집,"3,782",o
497,498,탐앤탐스블랙달맞이점,부산광역시,해운대구,부산 해운대구 달맞이길 213-0,음식,카페/찻집,"3,761",o

In [ ]:
df_cafe.head(10)

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수,지역화폐 사용가능
0,1,칠암사계,부산광역시,기장군,부산 기장군 칠암1길 7-10,음식,카페/찻집,"100,578",o
1,2,웨이브온커피,부산광역시,기장군,부산 기장군 해맞이로 286-0,음식,카페/찻집,"66,691",o
2,3,피아크카페앤베이커리,부산광역시,영도구,부산 영도구 해양로195번길 180-0,음식,카페/찻집,"60,904",o
7,8,스타벅스명지강변DT점,부산광역시,강서구,부산 강서구 르노삼성대로 620-0,음식,카페/찻집,"32,333",o
10,11,헤이든,부산광역시,기장군,부산 기장군 문오성길 22-0,음식,카페/찻집,"30,271",o
13,14,비아조,부산광역시,강서구,부산 강서구 식만로 164-0,음식,카페/찻집,"28,549",o
15,16,코랄라니,부산광역시,기장군,부산 기장군 기장해안로 32-0,음식,카페/찻집,"25,349",o
19,20,피크스퀘어,부산광역시,기장군,부산 기장군 기장해안로 864-0,음식,카페/찻집,"22,582",o
22,23,스타벅스동명대DT점,부산광역시,남구,부산 남구 신선로 423-0,음식,카페/찻집,"20,157",o
23,24,모모스로스터리&커피바,부산광역시,영도구,부산 영도구 봉래나루로 160-0,음식,카페/찻집,"19,923",o

In [ ]:
df_starbuck = df_cafe[df_cafe['관광지명'].str.contains('스타벅스')]
df_starbuck

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수,지역화폐 사용가능
7,8,스타벅스명지강변DT점,부산광역시,강서구,부산 강서구 르노삼성대로 620-0,음식,카페/찻집,"32,333",x
22,23,스타벅스동명대DT점,부산광역시,남구,부산 남구 신선로 423-0,음식,카페/찻집,"20,157",o
35,36,스타벅스해운대달맞이DT점,부산광역시,해운대구,부산 해운대구 달맞이길 57-0,음식,카페/찻집,"17,057",o
38,39,스타벅스화명강변DT점,부산광역시,북구,부산 북구 금곡대로 77-0,음식,카페/찻집,"16,527",o
46,47,스타벅스동부산DT점,부산광역시,기장군,부산 기장군 기장해안로 56-0,음식,카페/찻집,"14,818",o
56,57,스타벅스부산재송DT점,부산광역시,해운대구,부산 해운대구 해운대로 189-0,음식,카페/찻집,"13,393",o
59,60,스타벅스기장역DT점,부산광역시,기장군,부산 기장군 기장대로 527-0,음식,카페/찻집,"13,221",o
60,61,스타벅스을숙도강변DT점,부산광역시,사하구,부산 사하구 하신번영로 381-6,음식,카페/찻집,"13,209",o
101,102,스타벅스사상주례DT점,부산광역시,사상구,부산 사상구 백양대로 520-0,음식,카페/찻집,"10,362",o
119,120,스타벅스동서대DT점,부산광역시,사상구,부산 사상구 가야대로 338-0,음식,카페/찻집,"9,572",o
133,133,스타벅스수영망미DT점,부산광역시,수영구,부산 수영구 과정로 68-0,음식,카페/찻집,"9,183",o
151,152,스타벅스동래미남DT점,부산광역시,동래구,부산 동래구 충렬대로 101-0,음식,카페/찻집,"8,622",o
159,160,스타벅스부산송정비치점,부산광역시,해운대구,부산 해운대구 송정해변로 36-0,음식,카페/찻집,"8,458",o
161,162,스타벅스부산안락DT점,부산광역시,동래구,부산 동래구 충렬대로 446-0,음식,카페/찻집,"8,445",o
162,163,스타벅스수영강변DT점,부산광역시,해운대구,부산 해운대구 수영강변대로 516-0,음식,카페/찻집,"8,409",o
170,171,스타벅스금정구청DT점,부산광역시,금정구,부산 금정구 중앙대로 1730-0,음식,카페/찻집,"8,276",o
176,177,스타벅스온천장역DT점,부산광역시,금정구,부산 금정구 식물원로 13-0,음식,카페/찻집,"8,110",o
179,180,스타벅스금정남산동DT점,부산광역시,금정구,부산 금정구 중앙대로 1989-0,음식,카페/찻집,"8,077",o
181,182,스타벅스부산정관점,부산광역시,기장군,부산 기장군 정관로 579-0,음식,카페/찻집,"8,032",o
212,212,스타벅스영도청학DT점,부산광역시,영도구,부산 영도구 태종로 373-0,음식,카페/찻집,"7,153",o
223,224,스타벅스삼락강변DT점,부산광역시,사상구,부산 사상구 낙동대로 1306-0,음식,카페/찻집,"6,854",o
241,242,스타벅스해운대달맞이점,부산광역시,해운대구,부산 해운대구 달맞이길 189-0,음식,카페/찻집,"6,536",o
247,248,스타벅스용호동W스퀘어점,부산광역시,남구,부산 남구 분포로 145-0,음식,카페/찻집,"6,491",o
259,260,스타벅스부산교대역DT점,부산광역시,연제구,부산 연제구 중앙대로 1250-0,음식,카페/찻집,"6,238",o
263,264,스타벅스사하장림DT점,부산광역시,사하구,부산 사하구 을숙도대로 682-0,음식,카페/찻집,"6,234",o
302,303,스타벅스영도대교점,부산광역시,영도구,부산 영도구 태종로 39-0,음식,카페/찻집,"5,552",o
311,312,스타벅스명지오션시티점,부산광역시,강서구,부산 강서구 명지오션시티11로 66-0,음식,카페/찻집,"5,515",o
379,380,스타벅스명지국제신도시점,부산광역시,강서구,부산 강서구 명지국제5로 42-0,음식,카페/찻집,"4,733",o
397,398,스타벅스광안리점,부산광역시,수영구,부산 수영구 광안해변로 247-0,음식,카페/찻집,"4,540",o
422,423,스타벅스사상엄궁DT점,부산광역시,사상구,부산 사상구 낙동대로 744-0,음식,카페/찻집,"4,303",o
427,428,스타벅스부산덕천역점,부산광역시,북구,부산 북구 만덕대로 30-0,음식,카페/찻집,"4,244",o
439,440,스타벅스부산만덕DT점,부산광역시,북구,부산 북구 만덕대로 323-0,음식,카페/찻집,"4,182",o

카페 : 131개

* 지역화폐 사용 불가능
    * 스타벅스 : 32개
    * 코랄라니

* 애매한 것
    * 헤이든